#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    position: relative;
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

.img-bar{
    position: absolute;
    width: 50px;
    right: -22px;
    top: -60px;
}